# Generated Platform XMI files
# That are stored with their .platform definition
src/main/resources/modules/*.xmi

# Generated EMF Code
**/java-gen

# Eclipse
*.classpath
*.project
*.settings
build.properties
**/MANIFEST.MF
plugin.properties
plugin.xml
